<!DOCTYPE html>
<html>

  <head>
    <title>
      <%- webpackConfig.metadata.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- webpackConfig.metadata.baseUrl %>">
    <link rel="stylesheet" href="styles.css">
    <!-- imported CSS are concatenated and added automatically -->
  </head>

  <body>
    <div class="fl-splash">
      <div class="fl-container">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
