:root {
  --dot-diam: 10px;
}

.no-cursor {
  cursor: none;
}

.v-centered {
  align-items: center;
}

body {
  margin: 0;
  color: #efbb1c;
}

a {
  color: #efbb1c;
}

section#app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #1f1f1f;
}

button#enter {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 0;
  padding: 0;
  background: none;
  transform: translate(-50%, -50%);
}

span.tracer {
  position: absolute;
  width: 10px;
  height: 10px;
}

.tracer--cursor svg {
  fill: black;
  stroke: white;
  stroke-width: 10px;
}

.tracer--x svg {
  transform: scaleX(-1);
  fill: limegreen;
}

.tracer--y svg {
  transform: scaleY(-1);
  fill: blueviolet;
}

.tracer--x-y svg {
  transform: scale(-1, -1);
  fill: red;
}

.dot {
  position: relative;
  height: 100vh;
}

.dot::before,
.dot::after {
  position: absolute;
  width: var(--dot-diam);
  height: var(--dot-diam);
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  content: "";
  border-radius: 50%;
}

.dot::before {
  top: calc(50vh - 40px);
}

.dot::after {
  bottom: calc(50vh - 40px);
}

#navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  z-index: 1;
}

.main-text {
  font-size: 2em;
  font-family: sans-serif;
}