body {
  margin: 0;
  background-color: #2c3e50;
}

@font-face {
  font-family: elianto;
  src: url('Elianto-Regular.ttf');
}

svg {
  cursor: pointer;
}

path {
  stroke: #34495E;
}

#svg-text {
  fill: #34495E;
}

svg:hover path {
  stroke: #03A678;
}

svg:hover #svg-text {
  fill: #03A678;
}

svg.active path {
  stroke: #2ECC71;
}

svg.active #svg-text {
  fill: #2ECC71;
}

#code-btn-svg {
  height: 150px;
}

.fl-splash.outer,
.fl-splash.inner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.fl-splash.outer {
  z-index: 20;
  transition: .3s all ease-in;
  border-top: 100vh solid rgba(245, 245, 220, 1);
}

.fl-splash.inner {
  z-index: 21;
}

.fl-splash.outer.hidden {
  height: 0;
  border-top: 0 solid rgba(245, 245, 220, 0);
}

.fl-splash.inner.hidden {
  display: none;
}

.fl-splash .fl-container {
  background-color: beige;
  height: 100vh;
}

.fl-splash .fa-spinner {
  font-size: 72px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}


/* animate page transitions */

section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}


/* animation definitions */

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.fl-container {
  display: flex;
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;
}

.fl-nav {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.fl-nav li {
  padding: 10px 30px 0 30px;
}

.fl-nav .nav-filler {
  flex: 1;
}

@media (max-width: 700px) {
  .fl-nav {
    height: 20vh;
    flex-direction: column;
  }
  .fl-nav li {
    flex: 1;
  }
}

.fl-nav a {
  text-decoration: none;
  font-family: 'elianto';
  font-size: 20px;
  color: #03A678;
}

.fl-nav a:hover {
  color: #2ECC71;
}

.fl-nav .nav-logo a {
  color: #2ECC71;
}

.fl-nav li.active a {
  color: #2ECC71;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
